</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p>Copyright © <%= new Date().getFullYear() %></p>
  <script src="index.js" charset="utf-8"></script>
</footer>
</body>

</html>
